# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# TSV files
*.tsv
*.swn
*.swp
*.swo
*.nfs00000000021db52200001c31

!small_extension_testfile.tsv
